
.input{
	margin-top: 10px;
    margin-bottom: 10px;
}

.panel{
	padding:20px;
	margin-top: 20px;
    margin-bottom: 30px;
}

.panelTable{
	
	margin:30px;
	padding:30px;


}
.cursor{
	cursor:pointer;
}