.container
	.panel.panel-group.panel-default
			.panel-body
				h4 Buscar Usuários:
				.panel.panel-default.panelTable
					table.table.table-hover(id="tabela", datatable='ng',data-page-length='5')
						thead
							tr
								th	Id
								th	Nome
								th	CPF
								th	Cargo
								th  Perfis de Usuário
						tbody
							tr(ng-repeat=("usuario in listaHistoricoUsuarios"))
								td	{{usuario.id}}
								td	{{usuario.nome}}
								td	{{usuario.cpf}}
								td	{{usuario.cargo}}
								td  {{usuario.listaPerfil}}
