h1 Conteúdo Página Inicial

center
	div
		a(href="usuarios")
			button(type="button") USUARIOS
	br
	div
		a(href="cargos")
			button(type="button") CARGOS DOS USUARIOS
	br   
	div
		a(href="perfis")
			button(type="button") PERFIS DE USUARIOS
	
	
