.container-fluid.text-center
    .row.content
        .container
            .panel.panel-default
                .panel-heading
                    h1 Sistema de Gerenciamento de Usuários
                .panel-body
                    p Sistema de gerenciamento de usuário criado como forma de treinamento.
