.container
    .panel.panel-group.panel-default
        .panel-body
            h4 Lista de Perfis de Usuário:
            .panel.panel-default.panelTable
                table.table.table-hover.sortable(id="tabela",datatable='ng',data-page-length='5')
                    thead.thead-inverse
                        tr
                            th	Id
                            th	Nome
                            th(width="10px")
                            th(width="10px")
                    tbody
                        tr(ng-repeat=("perfil in listaPerfis"))
                            td  {{perfil.id}}
                            td  {{perfil.nome}}
                            td(width="10px")
                                a.span.glyphicon.glyphicon-edit(href="#/",title="Editar Perfil")
                            td(width="10px")
                                a.span.glyphicon.glyphicon-trash(ng-click= "ModalRemover(perfil.id)",data-toggle="modal", title="Remover Perfil",style="color:red")

#modal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="modal", aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type="button",data-dismiss="modal", aria-label="Close")          
                h5.modal-title Remoção de Perfil
            .modal-body
                p Confirmação de remoção.
            .modal-footer
                button.btn.btn-primary(type="button" , ng-click = 'RemoverPerfil()') Remover</button>
                button.btn.btn-primary(type="button" , data-dismiss="modal") Voltar