.container
    .panel.panel-group.panel-default
        .panel-body
            h4 Buscar Perfis de Usu치rio:
            .row
                .navbar-form.navbar-left(method="POST", action)
                    form(name="buscaPerfis", method="get" , action = "")
                        form.form-group
                            div.input
                                input.form-control(type="text", name="nomePerfil", placeholder = "Nome do Perfil de Usu치rio")
                                input.form-control(type="submit", value="Procurar")
    .panel.panel-group.panel-default
        .panel-body
            .panel.panel-default
                table.table.table-hover
                    thead.thead-inverse
                        tr
                            th	Id
                            th	Nome
                            th(width="50px")
                            th(width="10px")
                            th(width="10px")
                            th(width="10px")
                    tbody
                        tr
                            td	valordeid
                            td	valornome
                            td
                            td(width="10px")
                            td(width="10px")
                                a.span.glyphicon.glyphicon-edit(href="#/",title="Editar Perfil de Usu치rio")
                            td(width="10px")
                                a.span.glyphicon.glyphicon-trash(href="#/",title="Remover Perfil de Usu치rio",style="color:red")

