.container
    #panelprincipal.panel.panel-default
        .panel.panel-heading
            .panel-body
                form(name="buscaPerfis", method="get" , action = "")
                    form.form-group
                        div.input
                            h4 Buscar Perfis de Usuário:
                            input.form-control(type="text", name="nomePerfil", placeholder = "Nome do Perfil de Usuário")
                        div.actions
                            input.form-control(type="submit", value="Procurar")
        .panel.panel-default
            .panel-body
                div.row
                    div.col-sm-11
                        h1 Conteúdo Busca
                    div.col-sm-1
                        a.glyphicon.glyphicon-edit(href="#/",title="Adicionar Perfil de Usuário")
                        a.glyphicon.glyphicon-trash(href="#/",title="Remover Perfil de Usuário")

