
<div class="container">
  <div id="panelprincipal" class="panel panel-default">
    <div class="panel panel-heading">
      <div class="panel-body">
        <form name="adicionarUsuarios" method="get" ng-submit="cadastrarUsuario()">
          <h4>Adicionar um novo usuário:</h4>
          <div class="input">
            <div class="form-group">
              <label for="nome">Nome*:</label>
              <input type="text" name="nomeUsuario" placeholder="Nome do novo Usuário" id="nome" ng-model="formulario.nome" class="form-control"/>
            </div>
            <div class="form-group">
              <label for="cpf">CPF*:</label>
              <input type="text" name="cpf" placeholder="CPF do novo Usuário" id="cpf" ng-model="formulario.cpf" class="form-control"/>
            </div>
            <div class="form-group">
              <label for="cargo">Cargo*:</label>
              <div ng-repeat="cargo in listaCargos">
                <input type="radio" name="cargo" value="{{cargo.nome}}" ng-model="formulario.cargo"/>{{cargo.nome}}
              </div>
              <div class="input-group"><span class="input-group-addon">
                  <input type="radio" name="cargo"/></span>
                <input type="text" placeholder="Novo Cargo" ng-model="formulario.cargoNovo" class="form-control"/>
              </div>
            </div>
            <div class="form-group">
              <label for="sexo">Sexo:</label><br/>
              <input type="radio" name="sexo" value="Masculino" ng-model="formulario.sexo"/>Masculino<br/>
              <input type="radio" name="sexo" value="Feminino" ng-model="formulario.sexo"/>Feminino
            </div>
            <div class="form-group">
              <label for="dataNascimento">Data de Nascimento:</label>
              <input type="text" name="dataNascimento" placeholder="DD/MM/AAAA" id="dataNascimento" ng-model="formulario.dataNascimento" class="form-control"/>
            </div>
            <div class="form-group">
              <label for="perfis">Perfis:</label>
              <div ng-repeat="perfil in listaPerfis">
                <input type="checkbox" name="{{perfil.nome}}" value="{{perfil.nome}}" ng-model="formulario.perfisModelo[perfil.nome]" ng-true-value="'{{perfil.nome}}'" ng-false-value=""/>{{perfil.nome}}
              </div>
              <div class="input-group"><span class="input-group-addon">
                  <input type="checkbox"/></span>
                <input type="text" placeholder="Novo Perfil de Usuário" ng-model="formulario.perfisModelo.perfilNovo" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="actions">
            <input type="submit" value="Cadastrar Novo Usuário" class="form-control"/>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>