
<div class="container">
  <div class="panel panel-default">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-body">
          <form>
            <form class="form-group">
              <label for="cargo">
                <p>Buscar Cargos:</p>
              </label>
              <div class="input">
                <input type="text" id="cargoBusca" value="Nome do Cargo" class="form-control"/>
              </div>
              <div class="actions">
                <button type="submit" class="btn btn-default">
                  <p>Buscar</p>
                </button>
              </div>
            </form>
          </form>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="row">
        <div class="col-sm-11">
          <h2>Conteúdo Busca Cargos</h2>
        </div>
        <div class="col-sm-1"><a href="#/" class="glyphicon glyphicon-plus"></a><a href="#/" class="glyphicon glyphicon-edit"></a></div>
      </div>
    </div>
  </div>
</div>