
<div class="container">
  <div id="panelprincipal" class="panel panel-default">
    <div class="panel panel-heading">
      <div class="panel-body">
        <form name="buscaCargos" method="get" action="">
          <form class="form-group">
            <div class="input">
              <h4>Buscar Cargos:</h4>
              <input type="text" name="nomeCargo" placeholder="Nome do Cargo" class="form-control"/>
            </div>
            <div class="actions">
              <input type="submit" value="Procurar" class="form-control"/>
            </div>
          </form>
        </form>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-11">
            <h1>Conteúdo Busca</h1>
          </div>
          <div class="col-sm-1"><a href="#/" title="Editar Cargo" class="glyphicon glyphicon-edit"></a><a href="#/" title="Remover Cargo" class="glyphicon glyphicon-trash"></a></div>
        </div>
      </div>
    </div>
  </div>
</div>