
<div class="container">
  <div id="panelprincipal" class="panel panel-default">
    <div class="panel panel-heading">
      <div class="panel-body">
        <form name="editarCargo" method="get" ng-submit="">
          <h4>Editar Cargo: {{nomeEdicao}}</h4>
          <div class="input">
            <div class="form-group">
              <label for="nome">Nome*:</label>
              <input type="text" name="nomeCargo" id="nomeCargo" class="form-control"/>
            </div>
          </div>
          <div class="actions">
            <input type="submit" value="Salvar Mudanças" class="form-control"/>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>