
<div class="container">
  <div class="panel panel-group panel-default">
    <div class="panel-body">
      <h4>Buscar Usuários:</h4>
      <div class="panel panel-default panelTable">
        <table id="tabela" datatable="ng" data-page-length="5" class="table table-hover">
          <thead>
            <tr>
              <th>	Id</th>
              <th>	Nome</th>
              <th>	CPF</th>
              <th>	Cargo</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="usuario in listaHistoricoUsuarios">
              <td>	{{usuario.id}}</td>
              <td>	{{usuario.nome}}</td>
              <td>	{{usuario.cpf}}</td>
              <td>	{{usuario.cargo}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>