
<div class="container">
  <div class="panel panel-group panel-default">
    <div class="panel-body">
      <div class="panel-heading"></div>
      <h4>Lista de Perfis de Usuário:</h4>
      <div class="panel panel-default panelTable">
        <table id="tabela" datatable="ng" data-page-length="5" class="table table-hover sortable">
          <thead class="thead-inverse">
            <tr>
              <th>	Id</th>
              <th>	Nome</th>
              <th width="10px"></th>
              <th width="10px"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="perfil in listaPerfis">
              <td> {{perfil.id}}</td>
              <td> {{perfil.nome}}</td>
              <td width="10px"><a href="#/editarPerfil/{{perfil.id}}" title="Editar Perfil" class="span glyphicon glyphicon-edit"></a></td>
              <td width="10px"><a ng-click="ModalRemover(perfil.id)" data-toggle="modal" title="Remover Perfil" style="color:red" class="cursor span glyphicon glyphicon-trash"></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close">         </button>
        <h5 class="modal-title">Remoção de Perfil</h5>
      </div>
      <div class="modal-body">
        <p>Confirmação de remoção.</p>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="RemoverPerfil()" class="btn btn-primary">Remover</button></button>
        <button type="button" data-dismiss="modal" class="btn btn-primary">Voltar</button>
      </div>
    </div>
  </div>
</div>