
<div class="container">
  <div class="panel panel-group panel-default">
    <div class="panel-body">
      <h4>Buscar Perfis de Usuário:</h4>
      <div class="row">
        <div method="POST" action="action" class="navbar-form navbar-left">
          <form name="buscaPerfis" method="get" action="">
            <form class="form-group">
              <div class="input">
                <input type="text" name="nomePerfil" placeholder="Nome do Perfil de Usuário" class="form-control"/>
                <input type="submit" value="Procurar" class="form-control"/>
              </div>
            </form>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-group panel-default">
    <div class="panel-body">
      <div class="panel panel-default">
        <table class="table table-hover">
          <thead class="thead-inverse">
            <tr>
              <th>	Id</th>
              <th>	Nome</th>
              <th width="50px"></th>
              <th width="10px"></th>
              <th width="10px"></th>
              <th width="10px"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>	valordeid</td>
              <td>	valornome</td>
              <td></td>
              <td width="10px"></td>
              <td width="10px"><a href="#/" title="Editar Perfil de Usuário" class="span glyphicon glyphicon-edit"></a></td>
              <td width="10px"><a href="#/" title="Remover Perfil de Usuário" style="color:red" class="span glyphicon glyphicon-trash"></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>