
<div class="container">
  <div class="panel panel-group panel-default">
    <div class="panel-body">
      <h4>Buscar Usuários:</h4>
      <div class="row">
        <div method="POST" action="action" class="navbar-form navbar-left">
          <form name="buscaUsuarios" method="get" action="">
            <form class="form-group">
              <div class="input">
                <input type="text" name="nomeUsuario" placeholder="Nome do Usuário" class="form-control"/>
                <input type="submit" value="Procurar" class="form-control"/>
              </div>
            </form>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-group panel-default">
    <div class="panel-body">
      <div class="panel panel-default">
        <table class="table table-hover">
          <thead class="thead-inverse">
            <tr>
              <th>	Id</th>
              <th>	Nome</th>
              <th>	CPF</th>
              <th>	Cargo</th>
              <th width="50px"></th>
              <th width="10px"></th>
              <th width="10px"></th>
              <th width="10px"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="usuario in listaUsuarios">
              <td>	{{usuario.id}}</td>
              <td>	{{usuario.nome}}</td>
              <td>	{{usuario.cpf}}</td>
              <td>	{{usuario.cargo.nome}}</td>
              <td></td>
              <td width="10px"></td>
              <td width="10px"><a href="#/" title="Editar Usuário" class="span glyphicon glyphicon-edit"></a></td>
              <td width="10px"><a href="#/" title="Remover Usuário" style="color:red" class="span glyphicon glyphicon-trash"></a></td>
            </tr>
            <tr>
              <td> </td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><a href="#/adicionarUsuario" title="Cadastrar Usuário" style="color:green" class="span glyphicon glyphicon-plus"></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>