
<div class="container">
  <div id="panelprincipal" class="panel panel-default">
    <div class="panel panel-heading">
      <div class="panel-body">
        <form name="busca" method="get" action="">
          <form class="form-group">
            <div class="input">
              <p>Buscar Usuários:</p>
              <input type="text" name="nomeUsuario" value="Nome do Usuário" class="form-control"/>
            </div>
            <div class="actions">
              <input type="submit" value="Procurar" class="form-control"/>
            </div>
          </form>
        </form>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-11"></div>
          <div class="col-sm-1"><a href="#/" class="glyphicon glyphicon-plus"></a></div>
        </div>
      </div>
    </div>
  </div>
</div>